html{
	height: 100%;
}
body{	

}
.bg{
	background: url('../files/gallery/esapce.site.jpg') no-repeat left top fixed;    
	background-size: cover;	
	position: fixed;
	width: 100%;
	height: 100%;
}
.bg-2{
    background-color: white;
}
.white{
	color: red;
	position: fixed;
}
header{
}
header.row{
    margin: 0;
}
footer, header {
	/*margin-top: -20px;*/
	position: relative;
	min-height:130px;
}

footer{
	height: 50px;
}
section#user{
    width:300px;
	float: right;
	padding: 7px;
}
section#user span{
    position : static;
}
video{
	max-width: 100%;
}
img.logo{
	height: 150px;
}
.top{
	padding-top: 30px;
}
#logo{
	display: inline-block;
}
#site{
	display: inline-block;
    vertical-align: middle;
}
#site-name a {
    font-size: 38px;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 10px;
    color: #444444;
    display: block;
    font-family: serif;
}
#site-name a:hover {
    text-decoration: none;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
#site-slogan {
    /* color: #999; */
    font-size: 13px;
    font-weight: 300;
    line-height: 150%;
    margin: 10px 0 10px 0;
    color: #E74C3C;
}

.locales{
	position: absolute;
	top: 0;
	left: 0;
}

.locales img{
	height : 20px;
	vertical-align : top;
}

.content{
	height: auto;
	background-color: #f2f2f2;
	margin-bottom: 20px;
}

.dropdown-connexion
{
	width: 250px;
}

.video-center{
	display:block;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.separation{
	padding-top: 5px;
}

/*
*	Utilisé dans les formulaires réalisé par moi (Philippe) afin 
*	de ne pas coller le bouton de validation du formulaire avec les champs.
*/
.space-submit
{
	margin-top: 5%;

}

.image-reserv{
	padding:0px!important;
	width: auto;
	height: auto;
}

.no-padding{
	padding:0px!important;
}

.no-margin{
	margin:0px!important;
}

.max-height{
	height: m;
}

.glyph-note{
	color: #FF8000;
	font-size: 80%;
}

.prix{
	color: #01DF01;
	text-align: center;
	vertical-align: middle;	
	font-size: 200%;
}

.prix-td{
	width: 25%;
}

.hotels img{
    width: 100%;
    max-width: 250px;
}

#panier{
	font-style: bold;
}

#article div{
	border: 1px solid black;
	position: relative;
}

.panier{
	width: 100%;
    max-width: 250px;
}

.panier th{
	text-align: center;
}

div.container-fluid{
	height: auto;
}

div.container-fluid div.row{
	height: 100%;
}

header h1 {
	display: inline;
	font-family: "Comic Sans MS";
	color: ivory;
	font-size: 45px;
}

.page-header {
	margin : 0px;
	border-width : 0px;
}

.panel {
	margin-bottom: 0px;
}

.form-group {
	margin-bottom : 10px;
}

.btn {
	margin-bottom: 5px;
}

.label {
	padding : 0px;
	margin  : 0px 3px;
}

.filter {
	padding : 5px;
}

.advanced {
	margin : 4px 0px;
}

.list-group {
	margin : 0px;
}

.inline {
	display : inline;
}
.collapse.in {
  display: inline;
}
.collapsing {
  display: inline;
}

.Star {
	font-size : 20px;
}

#nb_offer {
	width : 50px;
}
section#right img{
	height:90px;
	top:35%;
	right:290px;
	position:absolute;
	border-radius:50%;
}

section#right{
	width:300px;
	height:100%;
	background:#F5F5F5;
	opacity:1;
	position:fixed;
	top:0px;
	right:-330px;
	padding-left:15px;
	padding-right:15px;
	z-index:200;
	color:black!important;
}
section#right h3{
	color:black!important;
}
section#right:hover{
	right:0px;
	z-index:100000;
}
div#viewer{
	height:100%;
	overflow:scroll;
}
.bg-blanc{
	background-color: white;
}
.cotes{
	position: fixed;
}
.gauche{
	left: 0;
	bottom: 0;
}
.droit{
	right: 0;
	bottom: 0;
}
.cotes img{
	width:100%;
}
.thumbnail a>img, .thumbnail>img {
    width: 100%;
}
.navbar {
	border-radius: 0px;
}
.nav-void{
	height: 35px;
}
.navbar-black{
	height:35px;
	font-size: 12px;
	width: 100%;
	background-color: black;
	color:#c3c3c3;
    float: left;
    position: absolute;
    left:0px;
}
.navbar-black .nav>li{
	height: 35px;
	float: left;
}
.navbar-black a{
	text-decoration: none;
	color:#c3c3c3;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-black a:hover{
	text-decoration: none;
	color:white;
}
.navbar-black:hover{
	background-color: black;
	color:white;
}

.nav-black{
	float: left;
    margin: 0;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}


.nav-black>li{
	padding: 10px;
	height: 35px;
    float: left;
}

.nav-black-right{
	float: right;
}

.block{
	border: 1px solid;
	border-color: #e7e7e7;
}
.block h1{
	padding-left: 25px;
}
.block-heading{
	height: 38px;
	padding-left: 25px;
	border-bottom: 2px solid;
	border-color: #f2f2f2;
    width: 95%;
    margin-left: -5px;
}
.block-heading h4{
	height: 38px;
    line-height: 38px;
}
.block-body{
	padding: 15px;
}
.bg-1{
	background-color: #85d0e7;
}
/*.block-heading:after{

    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    position: absolute;
    top: 19px;
    content: '';
    right: 41px;
}*/
.breadcrumb{
	background-color: white;
	border: 1px solid;
	border-color: #e7e7e7;
}

img.media-object{
	width:340px; 
	max-height:212px; 
}
span.menu_bottom{
	content: '';
    position: absolute;
    height: 5px;
    bottom: 0;
    width: 100%;
    left: 0;
}
.category{
	padding-left: 15px;
}


.topic-message {
    margin: 25px 0;
}
.topic-message {
    position: relative;
}
.topic-message .message {
    margin-left: 80px;
}
.topic-message .message {
    position: relative;
    background-color: #FDFDFD;
    border: 1px solid #D2D5D6;
    border-right-width: 2px;
    border-bottom-width: 3px;
    min-height: 75px;
}
.category-topic .topic {
    position: relative;
    background-color: #FDFDFD;
    border: 1px solid #D2D5D6;
    border-right-width: 2px;
    min-height: 75px;
}
.category-topic .topic:hover {
    background-color: #D2D5D6;
}
.topic-message .message .message-actions {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
}
.topic-message .message .message-metadata {
    display: inline-block;
    font-size: 14px;
    font-size: 1.4rem;
    margin-left: 5px;
}
.topic-message .message .message-content {
    clear: both;
    padding-top: 1px;
    margin: 0 10px;
}
.topic-message .message .message-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    min-height: 30px;
}
.topic-message .message .message-bottom .signature {
    border-top: 1px solid #D2D5D6;
    padding: 3px 0 0 10px;
    margin: 0 10px 0 0;
    font-size: 12px;
    font-size: 1.2rem;
    color: #999;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}
.topic-message .user .avatar-link {
    display: block;
    height: 58px;
    width: 58px;
    z-index: 0;
    position: absolute;
    top: 0;
    border: 1px solid #DDD;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
}
.topic-message .message-metadata{
	display: inline-block;
    font-size: 14px;
    font-size: 1.4rem;
    margin-left: 5px;
}
.topic-message .message-metadata a {
	display: block;
    float: left;
    color: #999;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    border-bottom: 1px solid #D2D5D6;
}
.topic-message .message-metadata a :first-child, .topic-message .message-metadata a :focus, .topic-message .message-metadata a :hover {
	border-bottom: 1px solid;
    outline: none;
}
.topic-message .user-metadata a :first-child{
	border-right: 0;
    width: 29px;
}
.topic-message .message .message-metadata .username {
    color: #484848;
    font-size: 16px;
    font-size: 1.6rem;
    margin-right: 3px;
}
.topic-message .user .avatar-link[href]:focus, .topic-message .user .avatar-link[href]:hover {
    border-color: #FFF;
    border-top-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: rgba(0,0,0,.3) 0 1px 7px;
}
img.avatar {
    height: 56px;
    width: 56px;
    background-color: #FFF;
}
.topic-message .user:after {
    left: 60px;
    border-right-color: #D2D4D6;
}
.topic-message .message:after {
    top: 9px;
    left: -19px;
    border-right-color: #FDFDFD;
}
.topic-message .message:after, .topic-message .user:after {
    content: " ";
    display: block;
    position: absolute;
    top: 10px;
    height: 0;
    width: 0;
    border: 20px solid transparent;
    border-left: 0;
}
.topic-message .message .message-actions {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
}
.topic-message .message-content img {
    max-width: 100%;
}
.topic-message .message .message-actions a{
    border-bottom: 1px solid #D2D5D6;
    text-decoration: none;
    color: #999;
    height: 29px;
    cursor: pointer;
    line-height: 30px;
    padding: 0 10px;
}