<h1>Nous contacter</h1>
<div class="col-lg-12">
    <form name="sentMessage" id="contactForm" method="POST">
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Pseudo</label>
                <input type="text" value="{{pseudo}}" {{disabled}} class="form-control" placeholder="Nom" id="name" name="name" required>
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Adresse email</label>
                <input type="email" value="{{mail}}" {{disabled}} class="form-control" placeholder="Adresse email" id="email" name="email" required>
            </div>
        </div>
        <div class="row control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Message</label>
                <textarea rows="5" class="form-control" placeholder="Message" name="message" id="message" required data-validation-required-message="Please enter a message."></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12">
                <button type="submit" class="btn btn-success btn-lg">Envoyer</button>
            </div>
        </div>
    </form>
</div>