		<div class="alert alert-info">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
				[[Veuillez remplir tous les champs !]]
		</div>
		<div class="alert alert-info">
		<h4>Quelques utilitaires : </h4>
			<a href="#" class="close" data-dismiss="alert">&times;</a>
				<p>
					<a href="{{host}}add_file" target="_blank">Envoyer une image</a>
				</p>
				<p>
					<a href="{{host}}view_files" target="_blank">Voir les images disponibles</a>
				</p>
		</div>	

		<form method="POST" action="{{host}}add_page{{edit}}">
			<div class="form-group">
				<label class="control-label col-sm-5" for="label-titre">[[Titre]] *</label>
				<input type="text" class="form-control" name="titre" id="label-titre" value="{{titre}}" required>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5" for="label-image-left">[[Image de gauche]] </label>
				<input type="text" class="form-control" name="imageLeft" id="label-image-left" value="{{imageLeft}}">
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5" for="label-image-right">[[Image de droite]]</label>
				<input type="text" class="form-control" name="imageRight" id="label-image-right" value="{{imageRight}}">
			</div>
			<div class="form-group">
				<textarea id="page" rows="30" class="form-control" name="text" id="label-text" required>{{text}}</textarea>
			</div>
			<div class="form-group">
				<div class="col-md-4"></div>
				<div class="col-md-3">
					<button type="submit" name="add_page" class="btn btn-default btn-lg">
						<span class="glyphicon glyphicon glyphicon-ok-sign"></span> [[Enregistrer la page]] 
					</button>
				</div>
				<div class="col-md-4"></div>
			</div>
		</form>

		<script>
            CKEDITOR.replace( 'page' );
    	</script>