<h1 class="media-heading"><strong>{{titre}}</strong> </h1> <p class="text-right">{{edit}}</p>
<hr/>
		{{text}}



<h4 class="text-right"><small>Par {{author}} le {{date}} </small></h4>
<h2>Commentaires</h2>
		{{comments}}
		{{add_comment}}