{{link}}

		<div class="alert alert-info">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
				[[Lors de l'envoi d'une image, si un fichier porte le même nom, l'ancien fichier sera remplacé par le nouveau !]]<br>
		</div>

<form method="POST" action="{{host}}add_file{{folder}}" enctype="multipart/form-data">
	<div class="form-group">
		<label class="control-label col-sm-5" for="label-file">[[Image]] *</label>
		<input type="file" class="form-control" name="file" id="label-file" value="{{file}}" required>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-5" for="label-name">[[Nom du fichier]] (laisser vide pour garder le nom original)</label>
		<input type="text" class="form-control" name="name" id="label-name" value="{{name}}">
	</div>
	<div class="form-group">
		<div class="col-md-4"></div>
		<div class="col-md-3">
			<button type="submit" name="add_file" class="btn btn-default btn-lg">
				<span class="glyphicon glyphicon glyphicon-ok-sign"></span> [[Envoyer l'image]] 
			</button>
		</div>
		<div class="col-md-4"></div>
	</div>
</form>