<link type="text/css" rel="stylesheet" href="{{host}}foliogallery/foliogallery.css" />
<link type="text/css" rel="stylesheet" href="{{host}}colorbox/colorbox.css" />
<script type="text/javascript" src="{{host}}colorbox/jquery.colorbox-min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    // initiate colorbox
	$('.albumpix').colorbox({rel:'albumpix', maxWidth:'96%', maxHeight:'96%', slideshow:true, slideshowSpeed:3500, slideshowAuto:false});
	$('.vid').colorbox({rel:'albumpix', iframe:true, width:'80%', height:'96%'});
});
</script>
{{albums}}
