<div class="media">
  <div class="media-left">
    <a href="{{host}}article/a/{{id}}/{{titreUrl}}">
      <img class="media-object" src="{{image}}" alt="{{titre}}">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="{{host}}article/a/{{id}}/{{titreUrl}}"><strong>{{titre}}</strong> <span class="badge">{{nb_comments}}</span></a> </h4>
   <small><span class="glyphicon glyphicon-calendar"></span> Par {{author}} le {{date}}</small>
   <br/>
   {{text}}
  </div>
</div>

<!--   <div class="col-sm-5 col-md-6">
    <div class="thumbnail">
      <a href="{{host}}article/a/{{id}}/{{titreUrl}}"><img src="{{image}}" alt="{{titre}}"></a>
      <div class="caption">
        <h4><a href="{{host}}article/a/{{id}}/{{titreUrl}}"><strong>{{titre}}</strong> <span class="badge">{{nb_comments}}</span></a> </h4><small><span class="glyphicon glyphicon-calendar"></span> Par {{author}} le {{date}}</small>
      </div>
    </div>
  </div> -->