<nav>
  <ul class="pagination">
    <li class="{{disabledPrev}}">
      <a href="{{prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
[[boucle]]
    <li class="{{active}}"><a href="{{host}}accueil/p/{{num}}">{{num}}</a></li>
[[boucle]]
    <li class="{{disabledNext}}">
      <a href="{{next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>