		<div class="alert alert-info">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
				[[Veuillez remplir tous les champs !]]
		</div>
		
		<form method="POST" action="{{host}}add_article{{edit}}">
			<div class="form-group">
				<label class="control-label col-sm-5" for="label-titre">[[Titre]] *</label>
				<input type="text" class="form-control" name="titre" id="label-titre" value="{{titre}}" required>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5" for="label-image">[[Image]] (<a href="{{host}}add_file" onclick="window.open('{{host}}add_file', 'Popup', 'scrollbars=1,resizable=1,height=650,width=400'); return false;">envoyer une image</a>) *</label>
				<input type="text" class="form-control" name="image" id="label-image" value="{{image}}" required>
			</div>
			<div class="form-group">
				<textarea id="article" rows="30" class="form-control" name="text" id="label-text" required>{{text}}</textarea>
			</div>
			<div class="form-group">
				<div class="col-md-4"></div>
				<div class="col-md-3">
					<button type="submit" name="add_article" class="btn btn-default btn-lg">
						<span class="glyphicon glyphicon glyphicon-ok-sign"></span> [[Ajouter l'article]] 
					</button>
				</div>
				<div class="col-md-4"></div>
			</div>
		</form>

		<script>
            CKEDITOR.replace( 'article' );
    	</script>