<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha1.js"></script>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						[[Connexion]]
						<span class="caret"></span>
					</a>	
					<ul class="dropdown-menu dropdown-connexion">
						<form class="navbar-form" method="POST">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon glyphicon glyphicon-user" id="username"></span>
									<input id="login" name="login" class="form-control" type="text" placeholder="[[Votre pseudo]]" aria-describedby="username" required/>
								</div>
								<div class="input-group">
									<span class="input-group-addon glyphicon glyphicon-lock" id="username"></span>
									<input id="pass" name="pass" class="form-control" type="password" placeholder="[[Votre mot de passe]]" required/>
								</div>
							</div><br/>
							<div class="form-group">
							 <a href='{{host}}password'>Mot de passe oublié ?</a>
								<button type="submit" class="btn btn-default" value="connection">[[Connexion]]</button>
								<button type="button" class="btn btn-lg btn-danger" data-toggle="popover" data-placement="bottom" title="Migration des comptes" data-content="Du fait de la migration de tout les comptes utilisateur sur le nouveau site web+forum, tout les mots de passe ont été réinitialisés. Merci donc de faire une demande de changement de mot de passe.">Information importante !</button>
							</div>
						</form>
					</ul>
				</li>
				<li>
					<a href="{{host}}inscription">[[Inscription]]</a>
				</li>


				
<script type="text/javascript">
$( "form" ).submit(function( event ) {
	// A decommenter pour gérer le cryptage
	$("#pass").val(CryptoJS.SHA1($("#pass").val()));
});
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>