		<div class="alert alert-info">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
				[[Veuillez remplir tous les champs !]]<br>
		        [[Si vous rencontrez un problème pour valider votre inscription, utilisez la fonction "Nous contacter".]]
		</div>
		
		<form method="POST" action="{{host}}inscription" class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-sm-5" for="label-pseudo">[[Pseudo]] *</label>
				<div class="col-sm-4">
					<div class="input-group">
						<span class="input-group-addon glyphicon glyphicon-user"></span>
						<input type="text" class="form-control" name="pseudo" id="label-pseudo" value="{{pseudo}}">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5" for="label-password">[[Mot de passe]] *</label>
				<div class="col-sm-4">
					<div class="input-group">
						<span class="input-group-addon glyphicon glyphicon-lock"></span>
						<input id="pass1" type="password" class="form-control" name="password" id="label-password">
					</div>
				</div>
			</div>
		 	<div class="form-group">
				<label class="control-label col-sm-5" for="label-password2">[[Confirmer le mot de passe]] *</label>
				<div class="col-sm-4">
					<div class="input-group">
						<span class="input-group-addon glyphicon glyphicon-lock"></span>
						<input id="pass2" type="password" class="form-control" name="password2" id="label-password2">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5" for="label-email">[[Email]] *</label>
				<div class="col-sm-4">
					<div class="input-group">
						<span class="input-group-addon">@</span>
						<input type="email" class="form-control" name="mail" id="label-email" value="{{mail}}">
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5" for="label-email2">[[Confirmer e-mail]] *</label>
				<div class="col-sm-4">
					<div class="input-group">
						<span class="input-group-addon">@</span>
						<input type="email" class="form-control" name="mail2" id="label-email2" value="{{mail2}}">
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-4"></div>
				<div class="col-md-3">
					<button type="submit" name="inscription" class="btn btn-default btn-lg">
						<span class="glyphicon glyphicon glyphicon-ok-sign"></span> [[Inscription]] 
					</button>
				</div>
				<div class="col-md-4"></div>
			</div>
		</form>

<script type="text/javascript">
	$( "form" ).submit(function( event ) {
		// A decommenter pour gérer le cryptage
		$("#pass1").val(CryptoJS.SHA1($("#pass1").val()));
		$("#pass2").val(CryptoJS.SHA1($("#pass2").val()));
	});
</script>