<div class="alert alert-info">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
		<h4>Info pendant le développement de la v5 </h4> Pour bien voire cette page comme elle est destinée à être, il faut aller dans
		les settings du forum, et faire une previw du thème EmbedFriendly :-) <br/>
		<a href="http://forum.lesmordusduclavier.fr/dashboard/settings/themes">ici !</a><br>
</div>
<script type="text/javascript" src="http://forum.lesmordusduclavier.fr/js/embed.js"></script>
<noscript>Please enable JavaScript to view the <a href="http://vanillaforums.com/?ref_noscript">discussions powered by Vanilla.</a></noscript>
<div class="vanilla-credit"><a class="vanilla-anchor" href="http://vanillaforums.com">Discussions by <span class="vanilla-logo">Vanilla</span></a></div>