<!DOCTYPE html>
<html lang="{{lang}}">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{titre}}</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen" />
		<link rel="shortcut icon" href="{{host}}files/gallery/logonoirblanc64x64-4.png" type="image/png" />
		<link rel="stylesheet" type="text/css" href="{{host}}css/styles.css" />
		<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="{{host}}lib/noty/js/noty/packaged/jquery.noty.packaged.min.js"></script>
		<script src="{{host}}js/main.js"></script>
		<script src="//cdn.ckeditor.com/4.5.2/standard/ckeditor.js"></script>
	</head> 
	<body>
		<div class="bg hidden-xs hidden-sm"></div>
		<div class="white hidden-xs hidden-sm hidden-md">lg</div>
		<div class="white hidden-xs hidden-sm hidden-lg">md</div>
		<div class="white hidden-xs hidden-lg hidden-md">sm</div>
		<div class="white hidden-lg hidden-sm hidden-md">xs</div>
		<div class="containter-fuild">
			<div class="hidden-xs hidden-sm hidden-md col-md-2 cotes gauche">
				<img src="{{imageLeft}}" wisth="100%" />
			</div>
			<div class="col-lg-2">
			</div>
			<div class="content col-lg-8">
				<nav class="navbar-black">
					<div class="container-fluid">
						<ul class="nav-black">
							<li>
								<a href="#">[[A propos]]</a>
							</li>
							<li>
								<a href="{{host}}contact">[[Contact]]</a>
							</li>
						</ul>
						<ul class="nav-black nav-black-right">
							<li>
								<a href="https://www.facebook.com/lesmordusduclavier/" target="_blank"><i class="fa fa-facebook-official fa-2"></i></a>
							</li>
							<li>
								<a href="https://twitter.com/LesMordusDC" target="_blank"><i class="fa fa-twitter fa-2"></i></a>
							</li>
							<li>
								<a href="https://www.youtube.com/channel/UCFPG80ZM56A4XiLaXe21yrA" target="_blank"><i class="fa fa-youtube fa-2"></i></a>
							</li>
						</ul>
					</div>
				</nav>
				<div class="nav-void"></div>
				<header class="row">
		            <div class="">
						<div class="col-md-12 top">
                                <div id="logo">
				                <a href="{{host}}" title="Accueil" rel="home"> <img src="https://lesmordusduclavier.fr/sites/default/files/LogoNoirBlanc64x64_5.png" alt="Accueil"> </a>
				                </div>
                				<div id="site">
	                                <div id="site-name">
					                	<a href="{{host}}" title="Accueil">Les Mordus du Clavier</a>
					                </div>
	                
	                                <div id="site-slogan">
	                					Communauté Francophone Multigaming - Parce qu'un homme azerty en vaut deux                
	                				</div>
                				</div>
                		</div>
		            </div>
		        </header>					
		        <!-- MENU -->
		        <div id="void"></div>
				<div id="header-menu">
					<nav class="navbar navbar-default block bg-blanc">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="collapse navbar-collapse" id="bs-navbar-collapse">
								<ul class="nav navbar-nav ">
									<li class="{{activeAccueil}}">
										<a href="{{host}}accueil"><i class="fa fa-home"></i> </a>
										<span class="menu_bottom" style="background:#1abc9c;"></span>
									</li>
									<li class="">
										<a href="{{host}}forums"><i class="fa fa-users"> [[Forum]]</i> </a>
										<span class="menu_bottom" style="background:#edc110;"></span>
									</li>
								</ul>
								<ul class="nav navbar-nav navbar-right">
										{{user}}
								</ul>
							</div>
						</div>
					</nav>
				</div>
    			<!-- FIN MENU -->
    			<!-- CONTENT -->
				<div class="row">
						<div class="container-fluid">
							{{breadcrumb}}
						</div>

					<div class="col-lg-8">
						<div class="block">
							<div class="alert alert-warning" role="alert"><i class="fa fa-exclamation-triangle fa-3x" style="position:absolute;right:0;"></i>Cette version du site web est en cours de dévelopement, le contenu n'est pas à jour, et tout n'est pas encore fonctionnel. Vous pouvez utiliser le <a href="{{host}}contact">formulaire de contact</a> pour nous indiquer un problème, ou nous contacter directement sur <a href="ts3server://ts.lesmordusduclavier.fr">teamspeak</a>.  </div>						
							{{notifs}}
							{{content}}
						</div>
					</div>
					<div class="col-lg-4">
						<div class="block bg-blanc">
							<div class="block-heading bg-1">
								<h4>Nous retrouver</h4>
							</div>
							<div class="block-body">
								<a href="http://steamcommunity.com/groups/mordusduclavier" target="blank"> <span class="glyphicon glyphicon-new-window"></span> Les mordus du clavier (steam) </a>
								<br><br>
									<a href="https://www.facebook.com/lesmordusduclavier" target="blank"> <span class="glyphicon glyphicon-new-window"></span> Suivez-nous sur Facebook</a>
								<br><br>
									<a href="https://www.youtube.com/channel/UCFPG80ZM56A4XiLaXe21yrA" target="blank"> <span class="glyphicon glyphicon-new-window"></span> Regardez nos vidéos</a>
								<br><br>
								Ou sur notre ts : <br><br>
								<a href="ts3server://ts.lesmordusduclavier.fr">ts.lesmordusduclavier.fr</a>
							</div>
						</div>
						<br/>
						<div class="block bg-blanc">
							<div class="block-heading bg-1">
								<h4>Derniers commentaires du forum</h4>
							</div>
							<div class="block-body">
								{{lastComments}}
							</div>
						</div>
						<br/>
						<div class="block bg-blanc">
							<div class="block-heading bg-1">
								<h4>Dernières discussions du forum</h4>
							</div>
							<div class="block-body">
								{{lastTopics}}
							</div>
						</div>
						<br/>
						<div class="block bg-blanc">
							<div class="block-heading bg-1">
								<h4>Avancement de la v5</h4>
							</div>
							<div class="block-body">
								forum :
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
								    60%
								  </div>
								</div>
								Récupération des comptes :
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
								    80%
								  </div>
								</div>
								Récupération des données du forum :
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
								    98%
								  </div>
								</div>
								Commenter articles :
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
								    100%
								  </div>
								</div>
								Publication/affichage articles :
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
								    100%
								  </div>
								</div>									
								Inscription/Connexion :
								<div class="progress">
								  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
								    100%
								  </div>
								</div>									
							</div>

						</div>														
					</div>
				</div>
		        <!-- FIN CONTENT -->
			</div>
			<div class="col-lg-2">
			</div>
			<div class="hidden-xs hidden-sm hidden-md col-md-2 cotes droit">
				<img src="{{imageRight}}" width="100%"/>
			</div>
		</div>
        
		<section id="right">
			<img src="{{host}}files/gallery/teamspeak.jpg" alt="teamspeak" class="img-circle">
			<script type="text/javascript">
				$(document).ready(function() {
					$.ajax({
						url: 'http://ts.lesmordusduclavier.fr/TSViewer.php?config=ts.lesmordusduclavier.fr',
						success: function(data) {
							$("#viewer").html(data);
						}
					});
				});
			</script>
			<div id="viewer"><div>
		</section>
	</body>
</html>