<article class="topic-message">
	<div class="user">
	        <a href="{{userLink}}" class="avatar-link">
	            <img src="{{userPicture}}" alt="" class="avatar">
	        </a>
	</div>
	<div class="message" id="{{id}}">
		<div class="message-metadata">
			<a class="username" href="{{userLink}}"> {{author}}</a> <a href="">{{date}}</a>
		</div>
		<div class="message-actions">
			{{editLink}}
		</div>	
		<div class="message-content message-editable" data-mode="inline">
			{{text}}
		</div>	
		<div class="message-bottom">
			<div class="signature">
			{{signature}}
			</div>
		</div>
	</div>
</article>
