<div id="preview" style="display:none;">
	 <h4>Prévisualisation de votre message</h4>
	 <div id="txt"></div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-11">
		<h4 class="text-center">[[Ajouter un commentaire]]</h4>
		<div class="container-fluid">
			<div class="row">
				<form method="POST" action="{{host}}{{from}}">
					<div class="form-group">
						<textarea id="comment" rows="10" class="form-control" name="textComment" id="label-text" placeholder="Votre texte au format Markdown" required>{{textComment}}</textarea>
					</div>
					
					<div class="form-group">
						<div class="col-md-4"></div>
						<div class="col-md-3">
							<span class="btn btn-default btn-lg" id="previewButton">
								<span class="glyphicon glyphicon glyphicon-ok-sign"></span> [[Prévisualiser]] 
							</span>
							<button type="submit" name="add_comment" class="btn btn-default btn-lg">
								<span class="glyphicon glyphicon glyphicon-ok-sign"></span> [[Ajouter le commentaire]] 
							</button>
						</div>
						<div class="col-md-4"></div>
					</div>
				</form>
			</div>
		</div>
		<div class="block block-body bg-2">
			<div class="collapse bg-markdown" id="MarkdownHelp">
				Les simples retours à la ligne ne sont pas pris en compte. Pour créer un nouveau paragraphe, pensez à sauter <i>une ligne !</i><br/>
					**gras** <br/>
					*italique* <br/>
					[texte de lien](url du lien) <br/>
					> citation (pensez à sauter une ligne après !<br/>
					* liste à puces <br/>
					Vous pouvez également écrire des formules mathématiques en encadrant ces dernières du signe dollar ($) !<br/>
			</div>
			<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#MarkdownHelp" aria-expanded="false" aria-controls="MarkdownHelp">
			  Afficher l'aide Markdown
			</button>
		</div>
		<br/>
	</div>
</div>

<script type="text/javascript">
	

    $("#previewButton").on("click",function(){
        $.ajax({
            url: '{{host}}index.php?ajax=previewMarkdown',
            data: 'text='+$("#comment").val()+'&user={{userId}}',
            type: "POST",
            success: function(result) {
                $('#txt').html(result);
                $('#preview').css('display','block');
            }
        });
    });

</script>

<!--

# Titre de niveau 1

## Titre de niveau 2

### Titre de niveau 3

> Ceci est un texte cité. Vous pouvez répondre
> à cette citation en écrivant un paragraphe
> normal juste en-dessous !

La fonction `printf()` permet d'afficher du texte

Rendez-vous sur le [Site du Zéro](http://www.siteduzero.com) pour tout apprendre à partir de Zéro !

![Zozor](http://uploads.siteduzero.com/files/420001_421000/420263.png)

-->