<h1>
	{{titre}}
</h1>
<form class="navbar-form" method="POST">
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-lock"></span>
			<input id="password1" name="password1" class="form-control" type="password" placeholder="[[Votre nouveau mot de passe]]" aria-describedby="password" required/>
		</div>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-lock"></span>
			<input id="password2" name="password2" class="form-control" type="password" placeholder="[[Votre nouveau mot de passe (à nouveau)]]" aria-describedby="password2" required/>
		</div>
		<button type="submit" class="btn btn-default">[[Enregistrer mon nouveau mot de passe]]</button>
	</div>
</form>
<script type="text/javascript">
	$( "form" ).submit(function( event ) {
		// A decommenter pour gérer le cryptage
		$("#password1").val(CryptoJS.SHA1($("#password1").val()));
		$("#password2").val(CryptoJS.SHA1($("#password2").val()));
	});
</script>