<h1>
	{{titre}}
</h1>
<div class="alert alert-info">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
		Comment la réinitialisation va-t-elle se passer ?
		<ol>
			<li>Un mail vous est envoyé pour valider la réinitialisation</li>
			<li>Vous choisissez un nouveau mot de passe</li>
			<li>C'est terminé ;)</li>
		</ol>
</div>

<form class="navbar-form" method="POST">
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon">@</span>
			<input id="mail" name="mail" class="form-control" type="mail" placeholder="[[Votre adresse email]]" aria-describedby="username" required/>
		</div>
		<button type="submit" class="btn btn-default" value="connection">[[Réinitialiser mon mot de passe]]</button>
	</div>
</form>