		<div class="alert alert-info">
			<a href="#" class="close" data-dismiss="alert">&times;</a>
				[[Veuillez remplir tous les champs obligatoires !]]
		</div>
		
		<form method="POST" action="{{host}}profile">
			<div class="form-group">
				<label class="control-label col-sm-5" for="label-pseudo">[[Pseudo]]</label>
				<input type="text" class="form-control" name="pseudo" id="label-pseudo" value="{{pseudo}}" disabled>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5" for="label-mail">[[@Mail]]</label>
				<input type="text" class="form-control" name="mail" id="label-mail" value="{{mail}}" disabled>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5" for="label-signature">[[Signature]]</label>
				<input type="text" class="form-control" name="signature" id="label-signature" value="{{signature}}" data-toggle="popover" data-trigger="focus" data-content="MarkDown accepté" data-placement="top" >
			</div>
			<div class="form-group">
				<label class="control-label col-sm-5" for="label-picture">[[Image de profile]] (<a href="{{host}}add_file/f/userpics" onclick="window.open('{{host}}add_file/f/userpics', 'Popup', 'scrollbars=1,resizable=1,height=650,width=400'); return false;">envoyer une image</a>) *</label>
				<input type="text" class="form-control" name="picture" id="label-picture" value="{{picture}}" required data-toggle="popover" data-trigger="focus" data-content="L'url complète vers l'image" data-placement="top">
				<img src="{{picture}}"/>
			</div>
			<div class="form-group">
				<div class="col-md-4"></div>
				<div class="col-md-3">
					<button type="submit" name="save" class="btn btn-default btn-lg">
						<span class="glyphicon glyphicon glyphicon-ok-sign"></span> [[Enregistrer]] 
					</button>
				</div>
				<div class="col-md-4"></div>
			</div>
		</form>

		<script>
		$(function () {
		  $('[data-toggle="popover"]').popover()
		});
        </script>