<li class="dropdown">
	<a href="{{host}}profile" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<img src="{{picture}}" alt="" height="18px" class="inline" /> <p class="inline"><b>{{pseudo}}</b></p>
		<span class="caret"></span>
	</a>	
	<ul class="dropdown-menu">
		<li><a href="{{host}}profile">Modifier mon profile</a></li>
		<li><a href="{{host}}uploads">Mes images</a></li>

        {{admin}}
        <li role="separator" class="divider"></li>
		<li><a href="{{host}}logout">Déconnexion</a></li>
	</ul>
</li>