<h1>A bientôt ! </h1>
<div class="alert alert-info">
	<a href="#" class="close" data-dismiss="alert">&times;</a>
		[[Vous avez bien été déconnecté. A bientôt !]]<br>
</div>

<meta http-equiv="refresh" content="1; URL={{host}}">