<h1>
	Mes images
</h1>
<a href="{{host}}add_file/f/userpics">Envoyer une image</a>
<div class="fg">
	[[boucle]]
		<div class="thumb-wrapper">
			<div class="thumb">
				<a href="{{link}}" title="{{title}}" class="albumpix cboxElement">
					<img src="{{thumb}}" alt="{{title}}"/>
				</a>
			</div>
		</div>
	[[boucle]]	
</div>
