<div class="category category-topic">
<h3>{{cateNom}}</h3>
[[boucle]]
	<div class="topic container-fluid">
		<div class="col-lg-7">
			<a href="{{topicLink}}"><h4>{{topicTitre}}</h4></a>
			<span class="text-muted">{{topicDesc}}</span>
		</div>
		<div class="col-lg-2">
			{{nbSubject}} {{sujectsType}}
		</div>
		<div class="col-lg-3">
			<a href="{{lastTopicLink}}">{{lastTopicTitre}}</a> par {{lastTopicAuthor}} il y a {{lastTopicDiffDate}}
		</div>
	</div>
[[boucle]]
</div>
<br/>